<h2>Logs</h2>
<% if @logs.any? %>
  <ul>
    <% @logs.each do |log| %>
      <li>
        <%= log.created_at.strftime("%Y-%m-%d %H:%M") %> -
        <%= link_to "Log for #{log.unit.name} (#{log.shift_type} shift on #{log.date.strftime("%Y-%m-%d")})", log_path(log) %>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "View all logs", logs_path, class: "btn btn-info" %></p>
<% else %>
  <p>No recent logs to display yet. Start by creating a new log!</p>
<% end %>
<hr>
